{% extends "layout.html"%}

{%block body%}

<header class="py-3 mb-3 border-bottom bg-white shadow-md">
    <div class="mx-3">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link pe-auto px-2 link-secondary">Home</a></li>
                <li><a href="{{ url_for('attendance') }}" class="nav-link px-2 link-body-emphasis">Attendance</a></li>
                {% if is_admin %}
                <li><a href="{{ url_for('admin') }}" class="nav-link px-2 link-body-emphasis">Admin</a></li>
                {% endif %}
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>          
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalprofile" href="">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main class="px-5">
    <h1 class="my-5 text-center fw-bold">January, 12</h1>
    <div class="row justify-content-center">
        <!-- First Badge -->
        <div class="col-md-3 me-md-5 mb-3 my-md-0 bg-white shadow-lg rounded-4 p-2">
            <div class="badge-card text-start">
                <div class="badge-icon text-center">📅</div>
                <hr>
                <h4>Earnings Overview</h4>
                <p class="m-0">Hourly Rate: 5$</p>
                <p class="m-0">Total Hours Worked: 28</p>
                <p class="m-0 fw-semibold">Current Earned: 140$</p>
            </div>
        </div>

        <!-- Second Badge -->
        <div class="col-md-3 bg-white shadow-lg rounded-4 p-2">
            <div class="badge-card text-start">
                <div class="badge-icon text-center">⏰</div>
                <hr>
                <h4>Attendance</h4>
                <p class="m-0">Days Worked This Month: 17</p>
                <p class="m-0">Missed Days: 0</p>
                <p class="m-0 fw-semibold">Next Shift: 14/08 (8:10 - 16:30)</p>
            </div>
        </div>

        <!-- Break to a new row -->
        <div class="w-100 my-3"></div>

        <!-- Third Badge -->
        <div class="col-md-3 mb-3 my-md-0 bg-white shadow-lg rounded-4 p-2">
            <div class="badge-card text-start">
                <div class="badge-icon text-center">⏱️</div>
                <hr>
                <h4>Shift Insights</h4>
                <p class="m-0">Longest Shift: 12 hours</p>
                <p class="m-0">Shortest Shift: 8 hours</p>
            </div>
        </div>

        <!-- Fourth Badge -->
        <div class="col-md-3 mx-md-auto mb-3 my-md-0 bg-white shadow-lg rounded-4 p-2">
            <div class="badge-card text-start">
                <div class="badge-icon text-center">📊</div>
                <hr>
                <h4>Hours Summary</h4>
                <p class="m-0">Schedule Hours: 56</p>
                <p class="m-0">Worked Hours: 50</p>
                <p class="m-0">Extra Hours: 12</p>
            </div>
        </div>

        <!-- Fifth Badge -->
        <div class="col-md-3 mb-3 my-md-0 bg-white shadow-lg rounded-4 p-2">
            <div class="badge-card text-start">
                <div class="badge-icon text-center">✅</div>
                <hr>
                <h4>Work Compliance</h4>
                <p class="m-0">Work Days</p>
                <p class="m-0">Compliance: 57%</p>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="modalprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('update_profile', id=user.id)}}" method="POST">
                
                <div class="form-group">
                    <label>Email:</label>
                    <input type="hidden" name="id" value="{{user.id}}">
                    <input type="email" class="form-control" name="email" value="{{user.email}}">
                </div>

                <div class="form-group my-2">
                    <label>Registration Date:</label>
                    <input readonly type="date" class="form-control bg-body-tertiary" name="register-date" value="{{user.register_date}}">
                </div>

                <div class="form-group d-flex align-items-center">
                    <div class="w-50 d-flex d-flex align-items-center">
                        <label class="me-2">Write Access:</label>
                        {%if user.write_access == 1 %}
                        <input checked type="checkbox" name="write-access" value="{{user.write_access}}">
                        {% else %}
                        <input type="checkbox" name="write-access" value="{{user.write_access}}">
                        {%endif%}
                    </div>
                    <div class="w-50 d-flex align-items-center">
                        <label class="me-2">Read Access:</label>
                        {% if user.read_access == 1 %}
                        <input checked type="checkbox" name="read-access" value="{{user.read_access}}">
                        {%else%}
                        <input type="checkbox" name="read-access" value="{{user.read_access}}">
                        {%endif%}
                    </div>
                </div>

                <hr class="my-3">
                <div class="form-group d-flex justify-content-between">
                    {% if is_admin %}
                    <button class="btn btn-primary w-50 me-1" type="submit">Edit Profile</button>
                    <button type="button" class="btn btn-secondary w-50 ms-1" data-bs-dismiss="modal">Close</button>
                    {% else %}
                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button>
                    {% endif %}
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

{%endblock%}